<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='/'><img src="{{ site.url }}/assets/images/turing_logo_with_name.png"
                     alt="Turing School of Software and Design"
                     class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section class="sidebar-navigation">
      <h1>Module 0</h1>
      <ul>
        <li><a href="{{ site.baseurl }}{% link start-dates.md %}">Mod 0 Session Dates</a></li>
        <li><a href="{{ site.baseurl }}{% link before-mod-0.md %}">Before Starting Mod 0</a></li>
        <li><a href="{{ site.baseurl }}{% link setup-instructions.md %}">Computer Setup</a></li>
        <li><a href="{{ site.baseurl }}{% link remote-workspace.md %}">Remote Workspace</a></li>
        <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
        <li><a href="{{ site.baseurl }}{% link asking-questions.md %}">Asking for Help</a></li>        
        <li><a href="{{ site.url }}/homework">Homework</a></li>
        <li><a href="{{ site.url }}/sessions">Sessions</a></li>
        <li><a href="{{ site.url }}/prework">Mod 1 Pre-work</a></li>
        <li><a href="{{ site.baseurl }}{% link assessment.md %}">Mod 0 Technical Assessment</a></li>
      </ul>
    </section>
  </div>
</nav>
