<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='/'><img src="/assets/images/turing_logo_with_name.png"
                     alt="Turing School of Software and Design"
                     class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section class="sidebar-navigation">
      <h1>Module 0</h1>
      <ul>
        <li><a href="/session2">Session 2</a></li>
        <li><a href="/session3">Session 3</a></li>
        <li><a href="/session4">Session 4</a></li>
        <li><a href="/session5">Session 5</a></li>
      </ul>
    </section>
    
  </div>
</nav>
