<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='/'><img src="{{ site.url }}/assets/images/turing_logo_with_name.png"
                     alt="Turing School of Software and Design"
                     class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section class="sidebar-navigation">
      <h1>Module 0</h1>
      <ul>
        <li><a href="{{ site.url }}/session1">Session 1</a></li>
        <li><a href="{{ site.url }}/session2">Session 2</a></li>
        <li><a href="{{ site.url }}/session3">Session 3</a></li>
        <li><a href="{{ site.url }}/session4">Session 4</a></li>
        <li><a href="{{ site.url }}/session5">Session 5</a></li>
        <li><a href="{{ site.url }}/session6">Session 6</a></li>
        <li><a href="{{ site.url }}/capstone/fe_engineering">Front End Capstone</a></li>
        <li><a href="{{ site.url }}/capstone/be_engineering">Back End Capstone</a></li>
      </ul>
    </section>

  </div>
</nav>
