<h3 id="professionaldevelopment">Professional Development</h3>

<p><strong>Turing is not just a school where you learn to code.</strong> Turing's curriculum focuses on both technical and professional development.</p>

<p>In order to achieve our mission and vision, we also have group sessions each week called Gear Up in order to bring community awareness to certain issues in the tech industry.</p>

<p>The assignments below will be submitted in gists that you will create on your GitHub account. A gist is a text document that can be stored on GitHub. To create a gist, follow the steps below:</p>

<ul>
<li>Log in to your GitHub account</li>

<li>In the upper right corner, click on the '+' icon</li>

<li>Select 'New Gist'</li>

<li>Enter a filename, with the extension .md</li>

<li>Enter the text of your gist in the large text area</li>

<li>click Create Public Gist</li>

<li>You can also visit <a href="https://gist.github.com/">gist.github.com</a></li>
</ul>

<p>We take these exercises seriously, and we ask that you do too. We expect at minimum 4-6 sentences in response to <strong>each</strong> question, but feel free to expand and elaborate as you deem necessary. Use Markdown to organize your gists clearly with the question above the response like so:</p>

<div class="try-it">
  <h3>What is the value of a checklist?</h3>
  <p>Your response here.</p>
  <hr>
  <h3>What do you plan to improve upon while at Turing?</h3>
  <p>Your response here.</p>
</div>

<p>Don't worry about the color or the boxes within the formatting, but the above has the heading and response format that will help us read through these clearly and efficiently, while giving you some practice with <code>.md</code> files.</p>

<p>Use these exercises to start telling your unique story with your distinct experiences. This is something we will continue to practice during your time at Turing.</p>

<h4 id="professionaldevelopmentassignmenthttpsgithubcomturingschoolcareerdevelopmentcurriculumblobmastermodule0capstonepd_preworkmd"><a href="https://github.com/turingschool/career-development-curriculum/blob/master/module-0-capstone/pd_prework.md">Professional Development Assignment</a></h4>

<h4 id="gearupassignmenthttpsgithubcomturingschoolgearupblobmasterpreworkintro_with_empathymarkdown"><a href="https://github.com/turingschool/gear-up/blob/master/pre-work/intro_with_empathy.markdown">Gear Up Assignment</a></h4>
