/* Base */

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--s-font-family-default);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.s-content p {
  color: var(--s-color-gray-800);
  line-height: 1.6em;
  font-size: 20px;
}

.s-content li {
  color: var(--s-color-gray-800);
  line-height: 1.8em;
  font-size: 20px;
}

img {
  max-width: 100%;
}

iframe {
  border: 1px solid $medium-gray;
  margin-bottom: 1em;
}

.splash {
  background: url('/assets/images/brisa-hero.jpg') 100%;
  background-size: cover;
  border-bottom: 8px solid var(--s-color-yellow-400);
  height: 525px;
  display: flex;
  align-items: center;
  position: relative;

  &:after {
    background-color: rgba(0,0,0,0.15);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.splash-text {
  margin: auto 0;
  max-width: 700px;
  z-index: 2;
  
  h1 {
    font-size: 7em;
    line-height: 1em;
    letter-spacing: -5px;
  }
  
  h1, p {
    color: var(--s-color-white);
    margin: 0px 0px 0px 80px;
    text-align: left;
  }
}

.main-content {
  background-color: var(--s-color-gray-200);
  padding-bottom: 70px;
  padding-top: 10px;
  text-align: center;

  h2 {
    color: var(--s-color-gray-700);
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  p, ul {
    text-align: left;
    width: 76%;
    margin: 0 auto;
  }
}

.tri-color-border {
  display: flex;
  height: 0.625rem;
  align-items: stretch;
  div {
    flex: 1;
  }
}

blockquote {
  margin-bottom: 1em;
  padding-left: 1em;
  border-left: 5px solid lighten($medium-gray, 20);
  p {
    font-size: 16px;
    font-style: italic;
    line-height: 1.8;
    margin-bottom: 0.5em;
  }
  footer {
    border: none;
    margin-top: 0;
    padding-top: 0;
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
    &::before {
      content: '— ';
    }
  }
}

.s-footer p {
  color: var(--s-color-gray-100);
}

.s-footer a {
  color: var(--s-color-cyan-400);

}
/* Layout */

.container {

  min-height: 100vh;
  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

/* Header */

header {
  margin-bottom: 2em;

  & > h1 {
    font-weight: 400;
    line-height: 1.2em;

    & > small {
      display: block;
      font-weight: 300;
    }
  }
}

.content {
  margin: auto 12%;
  width: 76%
}

.calendar {
  height: 400px;
  width: 100%;
}

.underline {
  text-decoration: underline;
}

.goals-agenda {
  background-color: lighten(#9b0428, 55);
  border: 1px solid #9b0428;
  padding: 1em;
  display: flex;
  margin-bottom: 3em;

  @media (max-width: $tablet-width - 50px) {
    flex-direction: column;
  }

}

.mod0values {
  background-color: lighten(#f9ae06, 45);
  border: 1px solid #f9ae06;
  padding: 1em;
  display: flex;
  margin-bottom: 3em;

  @media (max-width: $tablet-width - 50px) {
    flex-direction: column;
  }

}

.goals-agenda div {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 1em;
  vertical-align: top;
  font-size: 0.8em;
}

.mod0values div {
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 1em;
  vertical-align: top;
  font-size: 0.8em;
}

.goals-agenda div h3 {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width - 50px) {
    flex-direction: column;
  }

}

button:focus {outline:0;}

.vocab {
  color: #9b0428;
  font-weight: bold;
  background-color: lighten(#9b0428, 65);
}

.flex-container div {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-container .uneven {
  flex-grow: 2;
}

.tips div:nth-child(2) {
  margin-left: 2em;
}

.things-to-note {
  margin-top: 2em;
  background-color: lighten(#f9ae06, 45);
  border: 1px solid #f9ae06;
  padding: 1em;
  margin-bottom: 2em;
  @media (max-width: $tablet-width - 50px) {
    flex-direction: column;
  }
}

.try-it .left {
  margin-right: 1em;
}

textarea {
  width: 100%;
  padding: 1em;
  font-size: 0.8em;
}

.toggle-show {
  color: #f9ae06;
  &:hover {
    cursor: pointer;
  }
}

.toggle-content {
  color: black;
  border: 1px solid #f9ae06;
  padding: 1em;
  background: white;
  margin-bottom: 2em;
}

.hidden {
  display: none;
}

button:hover {
 cursor: pointer;
}

table {
  margin-bottom: 2em;
  width: 100%;
}

.objectclass {
  background: white;
}

.assessmentpreview {
  background: #dddddd;
  padding: 15px;
}

