<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
  </head>

  <body class="s-content">
        {% include navigation.html %}
    <div class="container">
      <section class="content">
        <article>
          <header>
            <h1>
              {{ page.title }}
              <small>{{ page.subheading }}</small>
            </h1>
          </header>
          {{content}}
        </article>
      </section>
    </div>
  </body>
  <script type="text/javascript" src="{{ site.url }}/assets/javascript/navigation.js"></script>
</html>
